body {
    background-color: #0f0909;
    margin: 0;
    font-family: 'IBM Plex Mono',
    monospace;
}
.square {
    width: 30%;
    border-radius: 50%;
    background: indianred;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    transition: background 1.0s;
    -webkit-transition: background 1.0s;
    -moz-transition: background 1.0s;
    
}

#container {
    margin: 20px auto;
    text-align: center;
    max-width: 600px;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.4;
    background: rgb(121, 238, 66);
}
#message {
    color: rgb(1, 9, 15);
    text-transform: uppercase;
    display: inline-block;
    width: 30%;

}
#stripe {
    background: aliceblue;
    height: 30%;
    text-align: center;
}
.selected {
    color: snow;
    background: rgb(41, 106, 160);
}

#colorDisplay {
    font-size: 2em;
}

button {
    border: none;
    background: none;
    color: rgb(10, 65, 110);
    height: 100%;
    font-weight: 1000;
    letter-spacing: 2px;
    transition: all 1.0s;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    outline: none;
}

button:hover {
    color: snow;
    background: rgb(41, 106, 160);
}
